/* .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: red;
  height: 8vh;
}

.navbar > ul {
  display: flex;
  justify-content: space-evenly;
  width: 30rem;
  color: #fff;
}
 */
